<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>table th, table td {padding: 5px;}</style>
    <title>Пользователи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Пользователи</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Роль доступа</th>
        <th>Данные пользователя</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user, iterStat : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="*{user.roles}"></td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id} (id=${user.id})}">
                <input type="submit" value="Показать">
            </form>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/{id}/updateuser (id=${user.id})}">
                <input type="submit" value="Изменить">
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/{id}/deleteuser (id=${user.id})}">
                <input type="submit" value="Удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>
    <p><a href="/admin/adduser">Добавить пользователя</a></p>
    <br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>